
.home-main-text {
    font-size: 79px;
    letter-spacing: 10px;
}
.blogs-news-container {
    padding: 0 53px 40px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    text-align: start;
}
.blogs-main-new h3 {
    padding: 8px 0;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-info-container {
    grid-column: 2;
    padding-top: 35px;
}
.grid-container .post-container {
    max-width: 30%;
}
.contact-main-container {
    width: 100%;
    height: 200px;
    background-color: #ebd1e3;
    text-align: center;
}
.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a {
    border-bottom: 1px solid black;
}
.contact-main-container .contact-left, .contact-right {
    font-size: 15px;
}

.contact-main-container img {
    width: 100px;
    margin-top: 35px;
}
.profile-projects-container .project-container {
    max-width: 31%;
}

