:root {
    --main-violet: #5b2080;
    --white: #ffffff;
    --light-violet: #ebd1e3;
    --light-gray: #cdd2da;
    --light-black: #22272d;
    --black: #000000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Mono', monospace;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.icons-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--main-violet);
}
.icons-container .icons-section {
    width: 255px;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px;
}
.icons-container .icons-section a {
    display: block;
}
.icons-container .icons-section .facebook-icon {
    background-image: url('../assets/icons/facebooklogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.icons-container .icons-section .twitter-icon {
    background-image: url('../assets/icons/twitterlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.icons-container .icons-section .instagram-icon {
    background-image: url('../assets/icons/instagramlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.icons-container .icons-section .linkedin-icon {
    background-image: url('../assets/icons/linkedinlogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
.icons-container .icons-section .youtube-icon {
    background-image: url('../assets/icons/youtubelogo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}

header {
    width: 100%;
    display: flex;
}
header .nav-container {
    width: 100%;
    height: auto;
    margin: 0 25px;
}
header .nav-container ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.nav-logo-container {
    height: 50px;
    justify-content: center;
    align-items: center;
}
.nav-logo-container a {
    display: inline-block;
    height: 50px;
}
.nav-container img {
    width: 140px;
}
.nav-container .profile-link {
    display: flex;
    align-items: center;
    margin: 0;
}
.nav-container .profile-link a {
    display: block;
    color: var(--black);
    margin: 0;
    border-bottom: 1px solid var(--black);
}
.home-main {
    display: flex;
    height: 85vh;
    justify-content: center; 
    align-items: center;
    background-image: url('../assets/imgs/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section {
    text-align: center;
} 
.home-main-text {
    font-size: 37px;
    font-weight: 400;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(268deg, #ffffff, rgb(0, 255, 238) 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    /* color: var(--white); */
    padding-bottom: 50px;
}
.home-main-buttom {
    border: 1px solid var(--main-violet);
    padding: 10px 15px;
    background-image: linear-gradient(to right bottom, #6d13a6, #660eb1, #5b0cbc, #4c0dc7, #3210d3);
    transition: all ease .5s;
    border-radius: 5px;
}
.home-main-buttom {
    font-weight: 700;
    font-size: 18px;
    color: var(--white);
    letter-spacing: 0;
    font-family: 'Roboto', sans-serif;
}
.home-main-buttom:hover {
    background-image: linear-gradient(to left top, #6d13a6, #660eb1, #5b0cbc, #4c0dc7, #3210d3);
        color: rgb(242, 239, 239);
}

.blogs-main {
    display: block;
}
.blogs-news-container {
    background-color: #ebd1e3;
    padding: 0 30px 30px 30px;
    text-align: center;
}
.blogs-main-new {
    display: block;
}
.blogs-main-new h3 {
    padding: 10px 0;
}
.blogs-news-img-container img {
    width: 85%;
    border-radius: 4px;
    padding-bottom: 10px;
}
.blogs-news-info-container p {
    margin-top: 15px;
    margin-bottom: 35px;
}
.blogs-posts-container h3 {
    padding-bottom: 20px;
    text-align: center;
}
.blogs-buttom {
    border: 1px solid #5b2080;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    transition: all ease .3s;
    border-radius: 3px;
}
.blogs-buttom:hover {
    background: #5b2080;
    color: #fff;
}
.blogs-posts-container {
    display: block;    
    margin-left: auto;
    margin-right: auto;
}
.blogs-posts-container .grid-container {
    text-align: center;
    padding-top: 25px;
}
.blogs-posts-container .post-container {
    text-align: center;
    display: block;
    max-width: 80%;
    margin: 0 auto 25px;
}
.blogs-posts-container .post-container .post-title {
    margin-top: 15px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 25px;
}
.blogs-posts-container .post-container img {
    width: 100%;
    border-radius: 3px;
}
.post-container {
    padding: 12px;
    background-color: #ebd1e3;
    border-radius: 3px;
}
footer {
    width: 100%;
    height: 110px;
    background-color: #22272d;
    border-top: 35px solid #5b2080;
    text-align: center;
}
footer p {
    color: white;
    margin: 20px 25px 5px 25px;
    font-size: 12px;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}
.blogpost-img-container img {
    width: 100%;
}
.blogpost-main.container {
    padding: 0 50px 40px;
}
.blogpost-main-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
}
.blogpost-main-container section h1 {
    font-size: 35px;
}
.contact-main-container {
    width: 100%;
    height: 250px;
    background-color: #ebd1e3;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right {
    text-align: initial;
    margin-top: 85px;
}
.contact-main-container img {
    width: 100px;
}

.profile-main {
    display: grid;
}
.profile-container {
    background-color: #ebd1e3;
    padding: 0 50px 40px;
}
.profile-main-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 35px;
}
.profile-img-container {
    grid-column: 1;
}
.profile-img-container img {
    width: 85%;
    border-radius: 150px;
}
.profile-info-container {
    grid-column: 2;
    padding: 55px;
}
.profile-info-container p {
    margin-bottom: 35px;
}
.profile-projects-container {
    padding: 0 50px 40px;
}
.profile-projects-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.project-buttom {
    border: 1px solid #5b2080;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    transition: all ease .3s;
    border-radius: 3px;
}
.project-buttom:hover {
    background: #5b2080;
    color: #fff;
}
.profile-projects-container .project-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.profile-projects-container .project-container p {
    margin-bottom: 35px;
}
.profile-projects-container .project-container img {
    width: 100%;
    border-radius: 3px;
}
.project-container {
    padding: 16px;
    background-color: #ebd1e3;
    border-radius: 3px;
}