body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-row: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #5b2080;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
.facebook-logo {
    background-image: url('../assets/icons/facebooklogo.svg');
    background-repeat: no-repeat;
}
.twitter-logo {
    background-image: url('../assets/icons/twitterlogo.svg');
    background-repeat: no-repeat;
}
.instagram-logo {
    background-image: url('../assets/icons/instagramlogo.svg');
    background-repeat: no-repeat;
}
.linkedin-logo {
    background-image: url('../assets/icons/linkedinlogo.svg');
    background-repeat: no-repeat;
}
.youtube-logo {
    background-image: url('../assets/icons/youtubelogo.svg');
    background-repeat: no-repeat;
}
.social {
    display: block;
    height: 35px;
    width: 35px;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    background-color: white;
}
nav .nav-logo-container {
    margin-left: 50px;
}
nav .nav-logo-container img {
    width: 200px;
    margin-top: -50px;
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: -70px;
}
nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url(../assets/imgs/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text {
    font-size: 55px;
    font-weight: 700px;
    font-family: 'Righteous', sans-serif;
    letter-spacing: 8px;
    color: white;
    text-align: center;
}
.home-main-buttom {
    border: 1px solid #5b2080;
    width: 110px;
    height: 50px;
    background: #5b2080;
    display: grid;
    align-items: center;
    transition: all ease .3s;
    border-radius: 3px;
}
.home-main-buttom a {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.home-main-buttom:hover {
    background: #62218a;
    color: #fff;
}

.blogs-main {
    display: grid;
}
.blogs-news-container {
    background-color: #ebd1e3;
    padding: 0 50px 40px;
}
.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news-img-container {
    grid-column: 1;
}
.blogs-news-img-container img {
    width: 85%;
    border-radius: 3px;
}
.blogs-news-info-container {
    grid-column: 2;
}
.blogs-news-info-container p {
    margin-bottom: 35px;
}
.blogs-posts-container {
    padding: 0 50px 40px;
}
.blogs-posts-container h3 {
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-buttom {
    border: 1px solid #5b2080;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    transition: all ease .3s;
    border-radius: 3px;
}
.blogs-buttom:hover {
    background: #5b2080;
    color: #fff;
}
.blogs-posts-container .post-container {
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
    margin-right: 11px;
}
.blogs-posts-container .post-container p {
    margin-bottom: 35px;
}
.blogs-posts-container .post-container img {
    width: 100%;
    border-radius: 3px;
}
.post-container {
    padding: 12px;
    background-color: #ebd1e3;
    border-radius: 3px;
}
footer {
    width: 100%;
    height: 60px;
    background-color: #22272d;
    border-top: 35px solid #5b2080;
    text-align: center;
}
footer p {
    color: white;
    margin-top: 30px;
}