.icons-container .icons-section {
    margin: 0 50px;
}
header .nav-container {
    margin: 0 50px;
}
.home-main-text {
    font-size: 65px;
    letter-spacing: 9px;
}
.grid-container .post-container {
    display: inline-block;
    text-align: center;
    max-width: 40%;    
    margin: 0 3px 25px;
}
.post-container {
    padding: 15px;
}