body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
a {
    text-decoration: none;
    display: inline;
    color: black;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-row: 1fr 1fr;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #5b2080;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 80px;
}
.facebook-logo {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-top: -16px;
    background-image: url('./assets/icons/facebooklogo.svg');
    background-repeat: no-repeat;
}
.twitter-logo {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-top: -16px;
    background-image: url('./assets/icons/twitterlogo.svg');
    background-repeat: no-repeat;
}
.instagram-logo {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-top: -16px;
    background-image: url('./assets/icons/instagramlogo.svg');
    background-repeat: no-repeat;
}
.linkedin-logo {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-top: -16px;
    background-image: url('/assets/icons/linkedinlogo.svg');
    background-repeat: no-repeat;
}
.youtube-logo {
    position: absolute;
    height: 35px;
    width: 35px;
    margin-top: -16px;
    background-image: url('/assets/icons/youtubelogo.svg');
    background-repeat: no-repeat;
}